@charset "UTF-8";

$break-small: 480px;

.pt2 {
  padding-top: 2rem;
}
.pb2 {
  padding-bottom: 2rem;
}

div.title-block .p-responsive {
  padding-bottom: 0;
}

div.title-block.light-text {
  header a {
    color: #eee;
  }
  h1 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }
  span.post-meta {
    color: #eee;
  }
}

div.title-block.with-image {
  background-repeat: no-repeat;
  background-position: center center;

  @media screen and (min-device-width: $break-small){
    background-attachment: fixed;
  }
}

.rule {
  margin: 75px 0 25px 0;
  text-align: center;
  width: 650px;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;

  @media screen and (max-device-width:  $break-small){
    width:100%;
  }
  
  hr {
    @media screen and (max-device-width: $break-small){
        display:none;
    }
  }    
  

  hr:first-child {
    float: left;
    margin: 10px auto;
    width: 25px;
  }
  hr:last-child {
    float: right;
    margin: 10px auto;
    width: 510px;
  }
}

ul.older-posts {
  margin: 25px 0;
  padding: 0;
  max-width: 650px;

  li {
    list-style-type: none;
    margin-bottom: 0;
    padding: 7px 5px;
    font-size: 18px;

    span {
      padding-top: 2px;
      float: right;
      text-transform: uppercase;
      font-size: 12px;
      color: #999;

      @media screen and (max-device-width: $break-small){
        display:none;
      }
    }
  }
}


figure {
  padding-bottom: 20px;


  figcaption {
    color: #7a7a7a;
    font-size: 12px;
    font-family: 'PT Sans Narrow', sans-serif;
  }

  .half {
    margin: 0 auto;
    width: 100%;
  }
}
